<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lifeissues.lifeissues">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:name=".app.AppController"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/AdMob_App_ID" />

        <!-- MainActivity -->
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Receives the search request. -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <!-- No category needed, because the Intent will specify this class component-->
            </intent-filter>

            <!-- Points to searchable meta data. -->
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <!-- Provides search suggestions for words and their definitions. -->
        <provider android:name="database.IssuesProvider"
            android:authorities="database.IssuesProvider" />

        <!-- Points to searchable activity so the whole app can invoke search. -->
        <meta-data android:name="android.app.default_searchable"
            android:value=".activities.MainActivity" />

        <!-- ArticleList Activity -->

        <!-- Note Activity -->
        <activity
            android:name=".activities.NoteActivity"
            android:launchMode="singleTop"
            android:label="@string/action_notes"
            android:parentActivityName=".activities.NotesListActivity"/>
        <!-- Notes List Activity -->
        <activity
            android:name=".activities.NotesListActivity"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:label="@string/action_notes"
            android:parentActivityName=".activities.MainActivity"/>
        <!-- Article Activity -->

        <!-- Bible Verses Activity -->
        <activity
            android:name=".activities.BibleVerses"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity"
            android:label="@string/app_name" />

        <!-- Favourites Activity -->
        <activity
            android:name=".activities.FavouritesActivity"
            android:launchMode="singleTop"
            android:label="@string/action_favourites"
            android:parentActivityName=".activities.MainActivity"/>
        <!-- Settings Activity -->
        <activity
            android:name=".activities.SettingsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity"
            android:label="@string/action_settings"/>

        <receiver android:name=".helpers.OnBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".helpers.OnAlarmReceiver" />
        <service
            android:name=".helpers.ReminderService"
            android:enabled = "true"
            android:exported = "true">
        </service>
    </application>

</manifest>